{% extends 'Jai_Kisan/base1.html' %}
{% load static %}

{% block drones %}
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="https://5.imimg.com/data5/UJ/GG/RZ/SELLER-94954033/16-liter-agricultural-pesticide-spraying-drone-500x500.PNG"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>Sprayer Drone</h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <span>310</span>
                  </div>
                  <div class="mt-1 mb-0 text-muted small">
                    <span>16 Litre Capacity</span>
                    <span class="text-primary"> • </span>
                    <span>Pesticide Sprayer</span>
                    <span class="text-primary"> • </span>
                    <span>4k Carbon fibre<br /></span>
                  </div>
                  <div class="mb-2 text-muted small">
                    <span>Square Tube</span>
                    <span class="text-primary"> • </span>
                    <span>Large Capacity</span>
                    <span class="text-primary"> • </span>
                    <span>Easy Handling<br /></span>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, by injected humour, or
                    randomised words which don't look even slightly believable.
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">$13.99/day</h4>
                    <span class="text-danger"><s>$20.99/day</s></span>
                  </div>
                  <!-- <h6 class="text-success">Free shipping</h6> -->
                  <div class="d-flex flex-column mt-4">
                    <!-- <a href="{% url 'booking' %}"> -->
                        <!-- <button class="btn btn-primary btn-sm" type="button">Book</button> -->
                        <a href="{% url 'booking' %}" class="btn btn-primary" role="button">Book</a>
                    <!-- </a> -->
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                      Add to wishlist
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="https://ae01.alicdn.com/kf/H09f81887d8e942ad8ad895690caa3c9ds.jpg?width=900&height=563&hash=1463"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>Fertilizer Spray Drone</h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <span>289</span>
                  </div>
                  <div class="mt-1 mb-0 text-muted small">
                    <span>Fumigation Drone</span>
                    <span class="text-primary"> • </span>
                    <span>5L Capacity</span>
                    <span class="text-primary"> • </span>
                    <span>Drone-GPS<br /></span>
                  </div>
                  <div class="mb-2 text-muted small">
                    <span>Unique design</span>
                    <span class="text-primary"> • </span>
                    <span>High Speed</span>
                    <span class="text-primary"> • </span>
                    <span>Easy Handling<br /></span>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, by injected humour, or
                    randomised words which don't look even slightly believable.
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">$14.99/Day</h4>
                    <span class="text-danger"><s>$21.99/Day</s></span>
                  </div>
                  <h6 class="text-success">Free shipping</h6>
                  <div class="d-flex flex-column mt-4">
                    <a href="{% url '' %}" class="btn btn-primary" role="button">Book</a>
                    <!-- <button class="btn btn-primary btn-sm" type="button">Book</button> -->
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                      Add to wishlist
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="https://www.euractiv.com/wp-content/uploads/sites/2/2019/04/drone-800x450.jpg"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>High Precision Agriculture Drone</h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <span>145</span>
                  </div>
                  <div class="mt-1 mb-0 text-muted small">
                    <span>Crop spraying</span>
                    <span class="text-primary"> • </span>
                    <span>Precision Sensing</span>
                    <span class="text-primary"> • </span>
                    <span>UAV Drone<br /></span>
                  </div>
                  <div class="mb-2 text-muted small">
                    <span>5L Capacity</span>
                    <span class="text-primary"> • </span>
                    <span>Highly Efficient</span>
                    <span class="text-primary"> • </span>
                    <span>Carbon Fibre<br /></span>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, by injected humour, or
                    randomised words which don't look even slightly believable.
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">$17.99/Day</h4>
                    <span class="text-danger"><s>$25.99/Day</s></span>
                  </div>
                  <div class="d-flex flex-column mt-4">
                    <button class="btn btn-primary btn-sm" type="button">Book</button>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                      Add to wishlist
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock drones %}