{% extends 'Jai_Kisan/base1.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
<!--{% block css %}-->
<!--.col-md-3 {-->
<!--width: 170px;-->
<!--height: 144px;-->
<!--}-->
<!--{% endblock %}-->
{% block navbar %}
<div class="fixed-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
{% endblock navbar %}

{% block livesale %}
   
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" />
    <title>Owl Carousel</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        * {
            font-family: 'Poppins', sans-serif;
        }

        img {
            height: 280px;
        }

        body {
            background: hsl(0, 0, 94%);
        }

        .card {
          overflow:hidden;
      }
        .card img{
          transition: all 1.5s ease;
        }

        .card:hover img{
          transform: scale(1.2);
        }
        
    </style>
</head>

<body>
   <!--Carousal-->
   <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="800">
          <!-- <img src="{% static 'Jai_Kisan/images/4050900.jpg' %}" class="d-block w-100" alt="..." style="height:400px"> -->
          <!-- <div class="jumbotron jumbotron-fluid">
            <div class="container"> -->
              <!-- <h1 class="display-6">"The solution to the world food and energy crisis is to build farmers' capacities to implement sustainable and efficient agricultural practices"</h1> -->
              <!-- <h1 class="display-6">"Agriculture is the noblest of all alchemy; for it turns earth, and even manure, into gold, conferring upon its cultivator the additional reward of health."</h1> -->
              <img src="{% static 'Jai_Kisan/images/23942502.jpg' %}" class="d-block w-100" alt="..." style="height:400px; width:450px">
              <!-- <p class="lead"></p>
            </div>
          </div> -->
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
          </div>
        </div>
        <div class="carousel-item">
          <!-- <img src="{% static 'Jai_Kisan/images/ad00a99f967d20ec0adb029499ab336a.webp' %}" class="d-block w-100" alt="..." style="height:400px"> -->
          <!-- <div class="jumbotron jumbotron-fluid">
            <div class="container"> -->
              <!-- <h1 class="display-6">The use of drones to improve public safety, agriculture and other uses will only increase.</h1> -->
              <!-- <h1 class="display-6">"Agriculture is the noblest of all alchemy; for it turns earth, and even manure, into gold, conferring upon its cultivator the additional reward of health."</h1> -->
              <img src="{% static 'Jai_Kisan/images/banner2.png' %}" class="d-block w-100" alt="..." style="height:400px; width:450px">
              <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
            <!-- </div>
          </div> -->
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>Second slide label</h5> -->
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
          </div>
        </div>
        <div class="carousel-item">
          <!-- <img src="{% static 'Jai_Kisan/images/banner1.PNG' %}" class="d-block w-100" alt="..." style="height:400px"> -->
          <!-- <div class="jumbotron jumbotron-fluid">
            <div class="container"> -->
              <!-- <h1 class="display-6">Agriculture looks different today. Our farmers are using GPS and you can monitor your irrigation systems over the Internet.</h1> -->
              <img src="{% static 'Jai_Kisan/images/Banner-Online-Farmers-Marketplace-min.png' %}" class="d-block w-100" alt="..." style="height:400px; width:450px">
              <!-- <p class="lead"></p>
            </div>
          </div> -->
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>Third slide label</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
          </div>
        </div>
        <div class="carousel-item">
          <!-- <img src="{% static 'Jai_Kisan/images/banner1.PNG' %}" class="d-block w-100" alt="..." style="height:400px"> -->
          <!-- <div class="jumbotron jumbotron-fluid">
            <div class="container"> -->
              <!-- <h1 class="display-6">Agriculture looks different today. Our farmers are using GPS and you can monitor your irrigation systems over the Internet.</h1> -->
              <img src="{% static 'Jai_Kisan/images/banner12.png' %}" class="d-block w-100" alt="..." style="height:400px; width:450px">
              <!-- <p class="lead"></p>
            </div>
          </div> -->
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>Third slide label</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

   <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!--Carousal End-->

  <!-- 3 Tiles-->
    <!-- <div class="container-fluid my-5"> -->
        <!-- <h1 class="text-center text-success fw-bold display-1 mb-5">Earth<span class="text-danger">Worm</span></h1> -->
        <div class="container">
          <div class="center">
           
        <!-- <h1 class="text-center"><a href=" "><img src="{% static 'Jai_Kisan/images/onlinelogomaker-053022-1137-6176.png' %}" style="justify-content: center; height: 120px; width:400x"></a></h1> -->
          </div>
        </div>
        <!-- <div class="row"> -->
            <div class="col-12 m-auto">
                <div class="owl-carousel owl-theme bg-light">
                    <div class="item mb-4">
                        <div class="card bg-white border-0 shadow"> 
                          <a class="btn" style="overflow: hidden" href="{% url 'farmerregistration' %}"><img src="https://images.pexels.com/photos/2804327/pexels-photo-2804327.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="farmer image" class="card-img-top" style="transition: all 1.5s ease; "></a>
                            <div class="card-body">
                                <div class="card-title text-center">
                                  <a href="{% url 'farmerregistration' %}" class="btn btn-lg active" role="button" aria-pressed="true">Farmer</a>
                                  <!-- <a class="btn" href="{% url 'farmerregistration' %}"><h4>Farmer</h4></a> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card border-0 shadow">
                          <a class="btn" href="{% url 'venderregistration' %}"><img src="https://images.pexels.com/photos/2933243/pexels-photo-2933243.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="farmer_image" class="card-img-top"></a>
                            <div class="card-body">
                                <div class="card-title text-center">
                                  <!-- <a class="btn" href="{% url 'venderregistration' %}"><h4>Machine Vendor</h4></a> -->
                                  <a href="{% url 'venderregistration' %}" class="btn btn-lg active" role="button" aria-pressed="true">Machine Vendor</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0 shadow">
                          <a class="btn" href=""><img src="https://images.pexels.com/photos/6508564/pexels-photo-6508564.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="machine_vendor_image" class="card-img-top"></a>
                            <div class="card-body">
                                <div class="card-title text-center">
                                  <!-- <a class="btn" href=""><h4>Technician</h4></a> -->
                                  <a href="" class="btn btn-lg active" role="button" aria-pressed="true">Technician</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0 shadow">
                            <img src="https://images.pexels.com/photos/2804327/pexels-photo-2804327.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="technician_image" class="card-img-top">
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <h4>Farmer</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0 shadow">
                            <img src="https://images.pexels.com/photos/2933243/pexels-photo-2933243.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="card-img-top">
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <h4>Machine Vendor</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0 shadow">
                            <img src="https://images.pexels.com/photos/6508564/pexels-photo-6508564.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="card-img-top">
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <h4>Technician</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            <!-- </div> -->
        <!-- </div> -->
    </div>
    <!--End of 3-->

    
    <br>
    <div class="jumbotron jumbotron-fluid bg-info">
      <div class="container">
        <h1 class="display-4"><span class="text-dark">Redeem your</span><span class="text-danger"> COUPON</span></h1>
        <p class="lead"><strong class="text-primary">Upto Rs. 2000 OFF</strong><span class="text-secondary"> on New User Booking</span></p>
        <button type="button" class="btn btn-primary">BOOK NOW</button>
      </div>
    </div>
    <br>
    <br>
    <div class="jumbotron jumbotron-fluid bg-white shadow">
      <div class="container">
        <a href=" "><img src="{% static 'Jai_Kisan/images/banners.png' %}" alt="" class="card-img-top"></a>
      </div>
        <!-- <h1 class="display-4"><span class="text-dark">Redeem your</span><span class="text-danger"> COUPON</span></h1>
        <p class="lead"><strong class="text-primary">Upto Rs. 2000 OFF</strong><span class="text-secondary"> on New User Booking</span></p>
        <button type="button" class="btn btn-primary">BOOK NOW</button> -->
      
    </div>
    <br>
    <div id="carousel3" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel3" data-slide-to="0" class="active"></li>
        <li data-target="#carousel3" data-slide-to="1"></li>
        <li data-target="#carousel3" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="500">
          <img src="{% static 'Jai_Kisan/images/pexels-pixabay-163752.jpg' %}" class="d-block w-100" alt="..." style="height: 800px">
          <div class="carousel-caption d-none d-md-block">
            <h3>“When tillage begins, other arts follow. The farmers, therefore, are the founders of human civilization.”</h3>
            <!-- <p>“When tillage begins, other arts follow. The farmers, therefore, are the founders of human civilization.” </p> -->
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'Jai_Kisan/images/pexels-arnauld-van-wambeke-8658730.jpg' %}" class="d-block w-100" alt="..." style="height: 800px">
          <div class="carousel-caption d-none d-md-block">
            <h3>“Farming isn't something that can be taught. Each plant tells its own story that has to be read repeatedly.”</h3>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'Jai_Kisan/images/pexels-jeshootscom-442589.jpg' %}" class="d-block w-100" alt="..." style="height: 800px">
          <div class="carousel-caption d-none d-md-block">
            <h3>“The farmer is the only man in our economy who buys everything at retail, sells everything at wholesale, and pays the freight both ways.”</h3>
            <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel3" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel3" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <footer class="bg-light text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #3b5998;"
            href="#!"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #55acee;"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>
    
          <!-- Google -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #dd4b39;"
            href="#!"
            role="button"
            ><i class="fab fa-google"></i
          ></a>
    
          <!-- Instagram -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #ac2bac;"
            href="#!"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #0082ca;"
            href="#!"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <!-- Github -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #333333;"
            href="#!"
            role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        
        <a class="text-white" href=""></a>
      </div>
      <!-- Copyright -->
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 60,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
    </script>

</html>





<!-- Live Sale Section -->
<!-- <div class="container align-items-center">
  <div class="row text-center text-black">
    <h1 class="display-1">Earthworm</h1>
    <span class="display-4">Earthworms are the intestines of the soil</span> -->
    <!-- <small class="fw-lighter">Term and Condition Applied (For details visit Bank's official Website)</small> -->
    <!-- <div class="container max-width: 100%">
      <div class="mw-100 bg-success text-center p-5 text-white border-bottom shadow" >
        <div class="row align-items-center">
          <div class="col">
            <a class="btn" href="{% url 'farmer' %}">Farmer</a>
          </div>
          <div class="col">
            <a class="btn" href="{% url 'vendor' %}">Vendor</a>
          </div>
          <div class="col">
            <a class="btn" href="{% url 'amigo' %}">Amigo</a>
          </div>
        </div>
      </div>
    </div> -->
  <!-- </div>
</div> -->



{% endblock livesale %}

{% block main-content %}
<!-- 1st Product Slider -->
<!-- <div class="m-3">
 <h2>Farming Tracter1</h2> -->
 <!-- Slider 1 -->
 <!-- <div class="owl-carousel" id="slider1">
  {% for t in tracter %}
    <a href="{% url 'product-detail' t.id %}" class="btn"><div class="item"><img src="{{t.product_image.url}}" alt="" height="300px"><span class="fw-bold">{{t.title}}</span><br><span class="fs-5">Rs. {{t.discounted_price}}</span></div></a>
  {% endfor %} -->
 <!-- </div>
</div> -->
<!-- End 1st Product Slider -->

<!-- Payment Info Section -->
<!-- <div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
     <img src="{% static 'Jai_Kisan/images/payavail/cc.jpg' %}" alt="" srcset="" class="img-fluid">
     </div>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
      <img src="{% static 'Jai_Kisan/images/payavail/upi.jpg' %}" alt="" srcset="" class="img-fluid">
     </div>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
      <img src="{% static 'Jai_Kisan/images/payavail/nb.jpg' %}" alt="" srcset="" class="img-fluid">
     </div>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
      <img src="{% static 'Jai_Kisan/images/payavail/bj.jpg' %}" alt="" srcset="" class="img-fluid">
     </div>
   </div>
  </div>
 </div>
</div> -->
<!-- End Payment Info Section -->

<!-- 2nd Product Slider -->
<!-- <div class="mx-3">
 <h2>Farming Boring Machine</h2> -->
 <!-- Slider 2 -->
 <!-- <div class="owl-carousel" id="slider2">
  {% for BM in boring_machine %}
    <a href="{% url 'product-detail' BM.id %}" class="btn"><div class="item col-md-3"><img src="{{BM.product_image.url}}" alt="" height="300"><span class="fw-bold">{{BM.title}}</span><br><span class="fs-5">Rs. {{BM.discounted_price}}</span></div></a>
  {% endfor %} -->
 <!-- </div>
</div> -->
<!-- End 2nd Product Slider -->

<!-- 3rd Product Slider -->
<!-- <div class="mx-3">
 <h2>Farming Harvestor</h2>
 Slider 3 -->
 <!-- <div class="owl-carousel" id="slider3">
  {% for H in harvestor %}
    <a href="{% url 'product-detail' H.id %}" class="btn"><div class="item"><img src="{{H.product_image.url}}" alt="" height="300"><span class="fw-bold">{{H.title}}</span><br><span class="fs-5">Rs. {{H.discounted_price}}</span></div></a>
  {% endfor %} -->
 <!-- </div>
</div> -->
<!-- End 2nd Product Slider -->
{% endblock main-content %}

